body{
  background: url('../images/anglenews2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Cormorant Garamond', serif, sans-serif;
  font-size: 16px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main{
  flex: 1 0 auto;
}

.articleBody{
  height: 100px;
  font-size: 20px;
  overflow-y: scroll;
  line-height: 150%;
  color: lightgrey;

}

.card-panel {
  background-color:black;
  opacity: .85;
  color: white;
  text-align: center;
}
.card {
  background: url('../images/newspaper.jpg');
  height: 150px;
  text-align: center;
  
  font-weight: bold;
  color: black;
  opacity: .95;
}

#nameComment{
  font-weight: bold;
  background: lightgrey;
  color: white;
}


.input-field input[type=text]:focus {
 color:lightgray;
 border-bottom: 1px solid lightgrey;
 box-shadow: 0 1px 0 0 #000;
 
}

.input-field input[type=submit] {
 background: dimgrey;
}

.input-field .prefix.active {
 color:lightgray;
}

#btnSignUp {
  background: dimgrey;
  color: lightgrey;
}
.curl-top-left {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.curl-top-left:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  z-index: 1000;
  background: linear-gradient(135deg, white 45%, #aaa 50%, #ccc 50%, #fff 80%);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}
.curl-top-left:hover:before,
.curl-top-left:focus:before,
.curl-top-left:active:before {
  width: 40px;
  height: 40px;
}

#Name {
  margin: 0 0 0 10px;
}
#Comment {
  margin: 0 0 0 10px;
}
.nav {
  font-size: 25px;
  
}
.left {
  position: absolute;
  left: 25px;
  margin-top: 10px;
}

.right {
  position: absolute;
  right: 25px;
}
#scrape:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
}

