<nav>
    <div class="nav-wrapper black">
        <ul class="left" id="nav-mobile">
          <li><img src="/assets/images/sportsnet.jpg"></li>
        </ul>


            <a href="/" class="brand-logo center">SPORTSNET  SCRAPED NEWS</a>

        <ul class="right" id="nav-mobile">
          <li><a id="scrape" href="/scrape">SCRAPE</a></li>
        </ul>

    </div>
  </nav>
