<nav>
    <div class="nav-wrapper black">
        <ul class="left" id="nav-mobile">
          <li><a href=".../public/assets/images/sportsnet.jpg"></a></li>
        </ul>


            <a href="/" class="brand-logo center">Scraped News</a>

        <ul class="right" id="nav-mobile">
          <li><a href="/scrape">Scrape</a></li>
        </ul>

    </div>
  </nav>
